# Ignore version control files
.git
.gitignore

# Ignore local development files
__pycache__
.vscode
.idea

# Ignore Docker-related files
Dockerfile
docker-compose.yml


readme_md
.venv
slug_name.py

.hypothesis
.pytest_cache